md-toolbar.md-toolbar(md-scroll-shrink='')
  .md-toolbar-tools(flex)
    div.title-container.inset
      h2 {{ $ctrl.title }} 
    md-nav-bar.md-warn(flex='' md-selected-nav-item='currentNavItem', nav-bar-aria-label='navigation links' hide-xs='')
      md-nav-item.md-warn(md-nav-click="goto('page1')", name='page1') Page One
      md-nav-item(md-nav-click="goto('page2')", name='page2') Page Two
      md-nav-item(md-nav-click="goto('page3')", name='page3') Page Three
    md-button.md-button.md-ink-ripple
      i.inset.material-icons menu
