toolbar {
    .md-toolbar-tools {
        background-color: $grey;
        h2{
            color: white;
            background-color: red;
        }

        i.material-icons{
            color: white;
        }
    }
}
