node_modules
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
.DS_Store
migration/node_modules
/.project
/.vs/config/applicationhost.config
/.vs/new-superstars/v14/.suo
/WE-Palette.css
/WebEssentials2015-Settings.json
/packages.config
/packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
/packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
/packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
/packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
/packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
/packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
/packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
/.vs/baseWebapp/v14/.suo
