div(layout="column" layout-gt-xs="row" flex='50' layout-align="center center" )
  contact-info(icon='phone', phone1="2523-8533", phone2="3018-6128", phone3="3515-5099")  
  contact-info(icon='smartphone', phone1="98563-2664", phone2="99376-3195", phone3="98104-7997")
.address-container(layout-align="start center" layout="column" flex='50')
  span.address Rua Tenente Brito de Melo, 404  
  span.address Barro Preto - Belo Horizonte/MG
  span.address CEP: 30180-072


