div(layout="column" layout-gt-xs="row" flex='60' layout-align="center center" )
  contact-info(icon='phone', phone1="2523-8533", phone2="3018-6128", phone3="3515-5099")
  contact-info(icon='smartphone', phone1="98563-2664", phone2="99376-3195", phone3="98104-7997")
  md-button(layout-padding layout="row" layout-align="center center" ng-click='$ctrl.openFacebook()')
    md-button.md-fab.footer-contact-icon(aria-label='Nos visite no Facebook' )
      img(ng-src='/assets/img/facebook-white.png', alt='Advocacia Terra Moreira')
    .contact-info-phone-text(flex='80')
      .footer-text Veja nossa página no Facebook
.address-container(layout-align="start center" layout="column" flex='40')
  span.footer-text Rua Tenente Brito de Melo, 404
  span.footer-text Barro Preto - Belo Horizonte/MG
  span.footer-text CEP: 30180-072
