footer {
  text-align: center;
  border-left: 10px solid $red;
  border-right: 10px solid $grey;

  .address-container {
    .address {
      color: $grey;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
