.grey-color(flex='5')
.contact-info-container(flex='20' layout='row')
  contact-info(icon='phone', phone1="(31) 2523-8533", phone2="(31) 3018-6128", phone3="(31) 3515-5099")  
  contact-info(icon='smartphone', phone1="(31) 98563-2664", phone2="(31) 99376-3195", phone3="(31) 98104-7997")
.contact-address-container(flex='60') sa
