footer {
    text-align: center;
    background-color: white;

    .address-container {
        padding: 10px 5px;

        .address {
            color: $grey;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
