$space-content: 30px;
$screen-division: $large-and-up;

.home-page {
    .main-content {
        background-color: $grey;
        color: white;
    }

    .content-divider {
        background-color: $grey;
        &.accent-color{
            background-color: $dark-red;
        }
    }

    .image-background {
        @media #{$screen-division} {
            padding-bottom: $space-content;
            padding-top: $space-content;
        }

        background-color: white;
        width: 100%;
    }

    .card {
        margin-bottom: $space-content;

        md-toolbar {
            background-color: $grey;
            color: white;
            padding-left: 20px;
        }
    }

    .contact{
        background-color: $dark-red;
        padding-top: $space-content;
    }

    .card-section{
        background-color: rgba(191, 190, 190, 0.61);
        padding-top: $space-content;
    }
}

