md-content
  div.image-background.md-whiteframe-18dp
    img.md-card-image.img-responsive.content.md-whiteframe-20d(ng-src='{{$ctrl.image}}', alt='Advocacia Terra Moreira')
  md-toolbar.content-divider
    md-toolbar-tools
  div.card-section.md-whiteframe-16dp
    md-card.content.card.md-whiteframe-20dp.content-card
      md-toolbar
        md-toolbar-tools
          span.md-headline Quem Somos
      .degrade(layout='row')
      md-card-content
        p.md-body-1
          | O escritório Terra Moreira Sociedade de Advogados está inscrito na OAB/MG sob o número 5.536, sendo um escritório completo que oferece apoio profissional experiente para indivíduos e empresas. Somos um escritório consolidado no mercado da advocacia, com atuação em diversas áreas do Direito.
        p.md-body-1
          | O diferencial do escritório é a sua atuação personalizada e estreita relação com o cliente, oferecendo soluções rápidas, seguras e eficazes para os questionamentos apresentados, pautando-se na ética profissional e absoluto sigilo nas negociações, sempre visando o melhor interesse do cliente. 
    md-card.content.card.md-whiteframe-20dp.content-card
      md-toolbar
        md-toolbar-tools
          span.md-headline Valores e Missão
      .degrade(layout='row')
      md-card-content
        p.md-body-1
          | Procuramos construir uma banca de advocacia sólida, respeitada, moderna, eficiente e dinâmica, pautada em princípios de profissionalismo, lealdade, parceria, modernidade e pioneirismo.
        p.md-body-1
          | Nosso maior foco é alcançar os resultados almejados por nossos clientes, sendo que o fruto de nosso sucesso deve-se ao planejamento, profissionais qualificados, trabalho árduo, entusiasmo e dedicação à causa.
        p.md-body-1
          | Agradecemos imensamente a todos os clientes, amigos, parceiros e funcionários que de alguma forma nos ajudam a implementar nossos projetos.
    md-card.content.card.md-whiteframe-20dp.content-card
      md-toolbar
        md-toolbar-tools
          span.md-headline Onde Estamos
      .degrade(layout='row')
      md-card-content
        p.md-body-1
          | Nosso escritório está localizado na rua Tenente de Brito Melo, 404, bairro Barro Preto, em Belo Horizonte-MG.
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.0765208413886!2d-43.956666084579716!3d-19.92117998660866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa697436622eefd%3A0x8ad2377d21b0ef84!2sAdvocacia+Terra+Moreira!5e0!3m2!1sen!2sus!4v1496805646780', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
  md-toolbar.content-divider
    md-toolbar-tools
  contact.contact
  md-toolbar.content-divider
    md-toolbar-tools