img.md-card-image.img-responsive(ng-src='{{$ctrl.image}}', alt='Advocacia Terra Moreira')
.main-content
  h3 Quem Somos
  div(layout='row' layout-xs='column')
    p(flex) O escritório Terra Moreira Sociedade de Advogados está inscrito na OAB/MG sob o número 5.536, sendo um escritório completo que oferece apoio profissional experiente para indivíduos e empresas. Somos um escritório consolidado no mercado da advocacia, com atuação em diversas áreas do Direito.
    p(flex) O diferencial do escritório é a sua atuação personalizada e estreita relação com o cliente, oferecendo soluções rápidas, seguras e eficazes para os questionamentos apresentados, sempre pautando-se na ética profissional e absoluto sigilo nas negociações, sempre no interesse dos clientes.




