div.image-background.md-whiteframe-22dp
  img.md-card-image.img-responsive.content(ng-src='{{$ctrl.image}}', alt='Advocacia Terra Moreira')
div.card-section.md-whiteframe-16dp
  md-card.content.card.md-whiteframe-20dp
    md-toolbar
      md-toolbar-tools
        span.md-headline Quem Somos
    .degrade(layout='row')
    md-card-content
      p
        | O escritório Terra Moreira Sociedade de Advogados está inscrito na OAB/MG sob o número 5.536, sendo um escritório completo que oferece apoio profissional experiente para indivíduos e empresas. Somos um escritório consolidado no mercado da advocacia, com atuação em diversas áreas do Direito.
      p
        | O diferencial do escritório é a sua atuação personalizada e estreita relação com o cliente, oferecendo soluções rápidas, seguras e eficazes para os questionamentos apresentados, sempre pautando-se na ética profissional e absoluto sigilo nas negociações, sempre no interesse dos clientes.
  md-card.content.card.md-whiteframe-20dp
    md-toolbar
      md-toolbar-tools
        span.md-headline Valores e Missão
    .degrade(layout='row')
    md-card-content
      p
        | Procuramos construir uma banca de advocacia sólida, respeitada, moderna, eficiente e dinâmica, pautada em princípios de profissionalismo, lealdade, parceria, modernidade e pioneirismo.
      p
        | Nosso maior foco é alcançar os resultados almejados por nossos clientes, sendo que o fruto de nosso sucesso deve-se ao planejamento, profissionais qualificados, trabalhando duro, entusiasmo e dedicação à causa.
      p 
        | Agradecemos imensamente a todos os clientes, amigos, parceiros e funcionários que de alguma forma nos ajudam a implementar nossos projetos.
contact.contact.md-whiteframe-12dp