.contact-info(layout='row')
  .contact-info-icon(flex='20') 
     md-icon.material-icons.contact-info-icon-text {{ $ctrl.icon }}
  .contact-info-phone-text(flex='80')
    div(layout='row') {{ $ctrl.phone1 }}
    div(layout='row') {{ $ctrl.phone2 }}
    div(layout='row') {{ $ctrl.phone3 }}
