.contact-info(layout-padding layout="row" layout-align="center center")
  .contact-info-icon
      md-icon.material-icons.contact-info-icon-text {{ $ctrl.icon }}
  .contact-info-phone-text(flex='80')
    div(layout='row') 
        span.prefix (31) 
        span.phone {{ $ctrl.phone1 }}
    div(layout='row') 
        span.prefix (31) 
        span.phone {{ $ctrl.phone2 }}
    div(layout='row') 
        span.prefix (31) 
        span.phone {{ $ctrl.phone3 }}
