div(layout-padding layout-margin layout-align="center center" ng-click='$ctrl.openFacebook()' layout='row')
    md-button.md-fab(aria-label='Nos visite no Facebook')
      img(ng-src='/assets/img/facebook-white.png', alt='Advocacia Terra Moreira')
    span Acesse nossa página no Facebook

