md-content
  div.card-section.md-whiteframe-16dp
    md-card.content.card.md-whiteframe-20dp.content-card
      md-toolbar
        md-toolbar-tools
          span.md-headline Dicionário Jurídico 
      .degrade(layout='row')
      md-card-content
        md-list(flex='')
          md-list-item.md-3-line.md-long-text
            .md-list-item-text(layout='column')
              h3 TESTE1
              h4 TESTE2